In [1]:
import pandas as pd
import datetime

In [2]:
citibike_csv = '201906_tripdata.csv'
# Read with Pandas
citibike_df = pd.read_csv(citibike_csv)
citibike_df.head()
citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,174,57:00.1,59:54.5,369,Washington Pl & 6 Ave,40.732241,-74.000264,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,33562,Subscriber,1992,1
1048571,1037,57:00.3,14:17.3,3254,Soissons Landing,40.692317,-74.014866,3254,Soissons Landing,40.692317,-74.014866,32149,Customer,1969,0
1048572,376,57:00.5,03:16.9,368,Carmine St & 6 Ave,40.730386,-74.002150,238,Bank St & Washington St,40.736197,-74.008592,29913,Subscriber,1990,1
1048573,1253,57:01.7,17:54.7,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3712,W 35 St & Dyer Ave,40.754692,-73.997402,25297,Customer,1981,1
1048574,224,57:01.8,00:46.4,212,W 16 St & The High Line,40.743349,-74.006818,212,W 16 St & The High Line,40.743349,-74.006818,32613,Customer,1969,0

In [3]:
list(citibike_df)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [4]:
age = pd.Timestamp('now').year - citibike_df['birth year'] 
age

0          28
1          33
2          30
3          33
4          47
           ..
1048570    28
1048571    51
1048572    30
1048573    39
1048574    51
Name: birth year, Length: 1048575, dtype: int64

In [5]:
citibike_df['age'] = age

In [6]:
list(citibike_df)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'age']

In [7]:
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,28
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,33
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,30
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,33
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,47

In [8]:
del citibike_df['birth year']

In [9]:
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1,28
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,2,33
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,2,30
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1,33
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1,47

In [10]:
citibike_df = citibike_df.drop(citibike_df[citibike_df.gender == 0].index)

In [11]:
citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1,28
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,2,33
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,2,30
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1,33
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,695,56:59.2,08:34.4,545,E 23 St & 1 Ave,40.736502,-73.978095,497,E 17 St & Broadway,40.737050,-73.990093,33063,Subscriber,1,75
1048569,825,56:59.3,10:45.2,298,3 Ave & Schermerhorn St,40.686832,-73.979677,216,Columbia Heights & Cranberry St,40.700379,-73.995481,29875,Subscriber,2,26
1048570,174,57:00.1,59:54.5,369,Washington Pl & 6 Ave,40.732241,-74.000264,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,33562,Subscriber,1,28
1048572,376,57:00.5,03:16.9,368,Carmine St & 6 Ave,40.730386,-74.002150,238,Bank St & Washington St,40.736197,-74.008592,29913,Subscriber,1,30
1048573,1253,57:01.7,17:54.7,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3712,W 35 St & Dyer Ave,40.754692,-73.997402,25297,Customer,1,39

In [12]:
citibike_df['gender'] = citibike_df['gender'].astype('str')

In [13]:
citibike_df['gender'].replace({'1': 'M', '2': 'F'}, inplace=True)
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,M,28
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,F,33
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,F,30
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,M,33
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,M,47

In [14]:
citibike_df.to_csv('citi_201906.csv', index=False)

In [15]:
jc_citi_csv = 'JC_201906.csv'
jc_citi_df = pd.read_csv(jc_citi_csv)
jc_citi_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,05:55.7,11:12.0,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,08:09.1,12:50.1,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,13:11.9,49:14.4,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,13:30.1,49:54.2,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,13:31.9,15:51.8,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,38:29.5,49:09.2,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,38:34.9,49:18.0,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,42:30.9,49:29.5,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,46:17.6,28:27.2,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,49:01.7,02:53.1,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [16]:
jc_citi_csv = 'JC_201906.csv'
jc_citi_df = pd.read_csv(jc_citi_csv)
jc_citi_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,05:55.7,11:12.0,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,08:09.1,12:50.1,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,13:11.9,49:14.4,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,13:30.1,49:54.2,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,13:31.9,15:51.8,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,38:29.5,49:09.2,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,38:34.9,49:18.0,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,42:30.9,49:29.5,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,46:17.6,28:27.2,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,49:01.7,02:53.1,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [17]:
aged = pd.Timestamp('now').year - jc_citi_df['birth year']

In [18]:
jc_citi_df['age'] = aged

In [19]:
del jc_citi_df['birth year']

In [20]:
jc_citi_df = jc_citi_df.drop(jc_citi_df[jc_citi_df.gender == 0].index)

In [21]:
jc_citi_df['gender'] = jc_citi_df['gender'].astype('str')
jc_citi_df['gender'].replace({'1': 'M', '2': 'F'}, inplace=True)

jc_citi_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,316,05:55.7,11:12.0,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,M,27
1,280,08:09.1,12:50.1,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,M,36
4,139,13:31.9,15:51.8,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,M,26
5,203,15:43.3,19:06.7,3203,Hamilton Park,40.727596,-74.044247,3269,Brunswick & 6th,40.726012,-74.050389,26316,Subscriber,M,42
6,671,19:41.6,30:52.7,3202,Newport PATH,40.727224,-74.033759,3278,Monmouth and 6th,40.725685,-74.048790,29488,Subscriber,M,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,38:29.5,49:09.2,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,M,34
39426,643,38:34.9,49:18.0,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,F,30
39427,418,42:30.9,49:29.5,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,M,41
39428,2529,46:17.6,28:27.2,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,M,38
39429,831,49:01.7,02:53.1,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,M,32

In [22]:
jc_citi_df.to_csv('jcciti_201906.csv', index=False)

In [23]:
citi18_csv = '201806-citibike-tripdata.csv'
# Read with Pandas
citi18_df = pd.read_csv(citi18_csv)
citi18_df.head()
# citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,57:20.5,06:50.1,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,02:42.4,10:43.4,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,04:23.6,15:55.7,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,00:55.5,11:59.9,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,04:54.4,18:32.6,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [24]:
ager = pd.Timestamp('now').year - citi18_df['birth year']

In [25]:
citi18_df['age'] = ager

In [26]:
del citi18_df['birth year']

In [27]:
citi18_df = citi18_df.drop(citi18_df[citi18_df.gender == 0].index)

In [28]:
citi18_df['gender'] = citi18_df['gender'].astype('str')
citi18_df['gender'].replace({'1': 'M', '2': 'F'}, inplace=True)

citi18_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,569,57:20.5,06:50.1,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,M,21
1,480,02:42.4,10:43.4,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,M,32
2,692,04:23.6,15:55.7,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,M,34
3,664,00:55.5,11:59.9,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,M,47
4,818,04:54.4,18:32.6,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,M,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,540,38:00.6,47:00.9,519,Pershing Square North,40.751873,-73.977706,492,W 33 St & 7 Ave,40.750200,-73.990931,26831,Subscriber,M,58
1048571,418,38:40.9,45:39.8,519,Pershing Square North,40.751873,-73.977706,461,E 20 St & 2 Ave,40.735877,-73.982050,28408,Subscriber,M,50
1048572,488,39:56.8,48:05.6,519,Pershing Square North,40.751873,-73.977706,536,1 Ave & E 30 St,40.741444,-73.975361,29986,Subscriber,M,49
1048573,1381,41:35.2,04:36.9,519,Pershing Square North,40.751873,-73.977706,457,Broadway & W 58 St,40.766953,-73.981693,17290,Subscriber,M,44
1048574,369,41:35.9,47:45.0,519,Pershing Square North,40.751873,-73.977706,505,6 Ave & W 33 St,40.749013,-73.988484,15400,Subscriber,M,42

In [29]:
citi18_df.to_csv('citi_201806.csv', index=False)